{% extends 'base.html' %}

{% block content %}
<div class="jumbotron container">
    <h1>Ads</h1>
    <ul>
        {% for pic in pics %}
            <li>
                <a href="{% url 'ad_detail' pic.id %}" >{{pic.title}}</a>
                {% if pic.owner == request.user %}
                <a href="{% url 'ad_edit' pic.id %}">Edit</a> | <a href="{% url 'ad_delete' pic.id %}">Delete</a>
                {% endif %} 
            </li>
        {% empty %}
        <p>There are no ads to show.</p>
        {% endfor %}
    </ul>
</div>
{% endblock %}